<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">E~COM</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/">Home</a></li>
                <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                <li ng-if="model.currentUser.role=='RETAILER'"><a href="#!/product">My Products</a></li>
                <li ng-if="model.currentUser.role=='CUSTOMER' || model.currentUser.role===undefined"><a href="#!/viewproducts/product">Products</a></li>
                <li ng-if="model.currentUser.role=='CUSTOMER' || model.currentUser.role===undefined"><a href="#!/viewproducts/service">Services</a></li>
                <li><a href="#aboutcontent">About Us</a></li>
                <li><a href="#contactcontent">Contact Us</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="model.currentUser._id"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-md-2 col-lg-4"></div>
        <div class="col-xs-12 col-md-8 col-lg-4">
            <div class="panel panel-default panelchange">
    <h3 class="text-center">Register</h3>
                <div class="panel-body">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input type="text"
           id="username"
           ng-model="username"
           class="form-control"
           placeholder="username"/>
    <label for="role">Role</label>
    <select id="role" ng-model="role" class="form-control">
        <option value="CUSTOMER">Customer</option>
        <option value="RETAILER">Retailer</option>
    </select>
    <label for="password">Password</label>
    <input id="password"
            type="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>
    <label for="vpassword">Verify Password</label>
    <input id="vpassword"
            type="password"
           ng-model="password2"
           class="form-control"
           placeholder="verify password"/>
    <a ng-click="model.register(username, password, password2,role)" class="btn btn-primary btn-block">
        Register
    </a>
                    <a href="#!/login" class="btn btn-link text-primary pull-right">Sign In!</a>
                </div>
            </div>
        </div>

        <div class="hidden-xs col-md-2 col-lg-4"></div>
    </div>
    </div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav pfont">
            <p>Developed by<a href="https://mehta-jheel-webdev.herokuapp.com/" class="btn btn-link text-primary">Jheel Mehta</a>@ 2017</p>
        </ul>
    </div>
</nav>