<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">E~COM</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/">Home</a></li>
                <li ng-show="model.userId"><a href="#!/profile">Profile</a></li>
                <li ng-if="model.user.role=='RETAILER'"><a href="#!/product">My Products</a></li>
                <li ng-if="model.user.role=='CUSTOMER' || model.user.role===undefined"><a href="#!/viewproducts/product">Products</a></li>
                <li ng-if="model.user.role=='CUSTOMER' || model.user.role===undefined"><a href="#!/viewproducts/service">Services</a></li>
                <li><a href="#aboutcontent">About Us</a></li>
                <li><a href="#contactcontent">Contact Us</a></li>
                <li ng-show="!model.user._id"><a href="#!/login">Login</a></li>
                <li ng-show="model.user._id"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>


<div class="container-fluid">
    <div class="panel panel-default panelchange2">
        <div class="panel-body">
    <div class="row">
        <div class="col-xs-12">
            <h2>User Details</h2>
<h3>{{model.selectedUser.username}}</h3>
            <p ng-if="model.selectedUser.firstName!=='RETAILER'"><b>Full Name</b> : {{model.selectedUser.firstName}} {{model.user.lastName}}</p>
            <p><b>Role</b> : {{model.selectedUser.role}}</p>
            <p ng-if="model.selectedUser.role!=='RETAILER'"><b>No of Followers</b> : {{model.selectedUser.noOfFollowers}}</p>
            <p ng-if="model.selectedUser.address!==undefined"><b>Address</b> : {{model.user.selectedUser}}</p>
            <p ng-if="model.selectedUser.email!==undefined"><b>Email</b> : {{model.selectedUser.email}}</p>
            <p ng-if="model.selectedUser.contactnumber!==undefined"><b>Contact</b> : {{model.selectedUser.contactnumber}}</p>
            <p ng-if="model.selectedUser.companyname!==undefined"><b>Contact</b> : {{model.selectedUser.companyname}}</p>
            <p ng-if="model.selectedUser.type!==undefined"><b>Product Type</b> : {{model.selectedUser.type}}</p>
        </div>
    </div>



        </div>
    </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav pfont">
            <p>Developed by<a href="https://mehta-jheel-webdev.herokuapp.com/" class="btn btn-link text-primary">Jheel Mehta</a>@ 2017</p>
        </ul>
    </div>
</nav>